.env
.DS_Store
node_modules/
pnpm-lock.yaml
orbitdb/

# orbitdb-storacha-svelte-backup-restore-demo/
# orbitdb-storacha-svelte-backup-restore-demo*/
recipient-key.txt 
delegation-token.txt
ucan-* 
orbitdb-ucan.car
demo-test*
cid-bridge-test*
ucan-bridge-test*