.env
.DS_Store
node_modules/
orbitdb/
orbitdb-bridge-*

# orbitdb-storacha-svelte-backup-restore-demo/
# orbitdb-storacha-svelte-backup-restore-demo*/
recipient-key.txt 
delegation-token.txt
orbitdb-ucan.car
ucan-delegation.car
*.car
relay-datastore/
demo-test*
cid-bridge-test*
ucan-bridge-test*

# Build directories
examples/svelte/*/build/
examples/svelte/*/dist/
